<h1>  Create a New Fwitter Account </h1>
<form method="POST" action="/signup">
    <label for="username"> Username: </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="email"> Email: </label>
    <input type="text" name="email" id="email">
    <br>
    <label for="password"> Password: </label>
    <input type="password" name="password" id="password">
    <br>
    <label for="password_confirm"> Re-enter Password: </label>
    <input type="password" name="password_confirm" id="password_confirm">
    <br>
    <input type="submit" name="Create Account">
</form>