<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1>Fwitter</h1>
      <%= yield %>


    </div>
  </body>
</html>